/*add google fonts*/

/*Set all*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    /*font-size: 60%;*/
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.75rem;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

#logo{
    font-size: 1.5em;
    color: #f6f6f6;
    font-weight: 700;
    cursor: default;
}

.navbar li{
    display: inline-flex;
    color: #f6f6f6;
}

.navbar a{
    color: #f6f6f6;
    position: relative;
    margin-left: 2em;/*might need to change for responsive*/
}

/*Creates underline*/
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s; /*Transitions line in when hovering*/
}

/*Activates Underline when hovering*/
.navbar a:hover::before{
    width: 100%;
}

#menu-icon{
    font-size: 3rem;
    color: #f6f6f6;
    display: none;
}

#home{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 4rem;
    background-color: rgb(4, 4, 153);
    color: #f6f6f6;
}

span{
    color: aqua;
}

#home-content h3{
    font-size: 3rem;
    font-weight: 600;
}

#home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.5;
}

#home-content p{
    font-size: 1.5rem;
}

.home-image img{
    height: auto;
    width: auto;
}

.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
}

#about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(1, 1, 116);
    color: #f6f6f6;
}

.about-image{
    width: 50%;
} 

.heading{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content p{
    font-size: 1.2rem;
    margin: 2rem;
}

#projects{
    background-color: rgb(3, 3, 94);
    color: #f6f6f6;
}

#projects .intro{
    margin-bottom: 2rem;
}

#projects p{
    font-size: 1.3rem;
}

#projects .titles{
    display: flex;
    gap: 3rem;
    flex: 1 1;
}

.project{
    border: 0.1rem solid lightblue;
    border-radius: 10%;
    height: 300px;
    width: 300px;
    text-align: center;
    text-justify: center;
    background-color: lightblue;
    color: darkblue;
}

.project h3{
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 1.6rem;
}

button{
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 25%;
    background-color: blue;
}

button a{
    color: #f6f6f6;
    text-decoration: none;
    font-size: 1.2rem;
}

button:hover{
    background-color: #2b0691;
}